/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #272424;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

footer {
  position: sticky;
  bottom: 0;
  text-align: center;
  padding: 40px;
  background-color: #272424;
  color: #fff;
}
/*************** NAV *********************/

.logo img {
  width: 200px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #fff;
  text-decoration: underline;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

/*************** MOBIL START *********************/
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: darkgrey;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
    color: #272424;
  }
}
/*************** MOBIL SLUT *********************/
/*************** NAV SLUT *********************/
body {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
}

main {
  padding: 20px;
}

h1 {
  font-size: 2.2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5rem;
}

/* CSS og layoutkrav:
Brug CSS - gerne grid, subgrid og/eller flex
Layout skal være responsivt
Lav gerne klasser som .soldout og .discount til at styre designet af det særlige ved designet af disse produkter. 
  */

/*************** KATEGORIER START *********************/
.category_list_container ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  gap: 1rem;
  justify-content: center;
  list-style-type: none;
}

/* forsidens felter */
.category_list_container ul li {
  justify-content: center;
  text-align: left;
  font-weight: 500;
  padding: 15px;
  color: black;
  background-color: lightslategrey;
  border: 2px solid #333;
  border-radius: 3px;
}

a {
  text-decoration: none;
}
/* lav a :hover og active */
a:visited {
  color: #333;
}

.category_list_container ul li a {
  text-decoration: none;
}
/* hvis liv til det lav ul li til kun a tags så hover css mm forenkles */

.category_list_container ul li a:hover {
  color: white;
}
.category_list_container ul li:hover {
  background-color: #272424;
  transform: scale(1.03);
  color: white;
}
/*************** MOBIL START *********************/
@media screen and (max-width: 800px) {
  .category_list_container ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    list-style-type: none;
  }
}

/*************** KATEGORIER SLUT *********************/

/*************** PRODUKTLISTE START *********************/
div {
  display: grid;
}

.imgwrap img,
.soldout,
.sale {
  grid-column: 1;
  grid-row: 1;
}
.product_card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
/* lavet på artiklen */
.productcard {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 6;
  gap: 0;
}

.productcard,
.laegikurv,
.retur {
  border: rgba(112, 128, 144, 0.237) 2px solid;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgb(172, 186, 200);
  text-align: left;
  padding: 10px;
}

/* knap */
a.laegikurv,
a.retur {
  background-color: #272424;
  color: white;
  border: none;
  width: 250px;
  place-self: end;
}

.productcard:hover {
  transform: scale(1.03);
}

.produktnavn {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 5px;
}
.brand {
  font-weight: 800;
  font-size: 0.7rem;
  margin-top: 2.5px;
}

.price {
  justify-content: end;
  display: flex;
  margin-top: 5px;
  font-size: 1rem;
}

.pricebefore {
  text-decoration: line-through;
  margin-right: 5px;
  font-size: 1rem;
}

.priceafter {
  color: red;
  font-size: 1rem;
}

.hide {
  display: none;
}

.sale {
  font-size: 1rem;
  color: #ff0000fa;
  text-align: end;
  font-weight: 800;
}

p.sale {
  padding: 10px;
}

img.soldout {
  opacity: 30%;
}
.soldout.tekst {
  font-size: 1rem;
  color: #ff0000fa;
  text-align: center;
  align-self: center;
  font-weight: 800;
}

@media screen and (max-width: 800px) {
  .product_card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
  }
}

/*************** PRODUKTLISTE SLUT *********************/
/*************** PRODUKT START *********************/

.product_details_list {
  display: grid;
  margin: 20px;
  grid-template-columns: 1fr;
}

.wrap {
  width: 400px;
  justify-self: center;
  border: 2px solid #272424;
  border-radius: 6px;
}

.productdetails {
  text-align: end;
}

/*************** PRODUKT SLUT *********************/
